@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
:root{
    --primary-color: #1e40af;
    --grey-color: #334155;
}
body{
    font-family: 'Mulish', sans-serif;
}

/**Navigation**/

.navigation{
    background-color: #1e40af;
    color: white;
    border-bottom-left-radius: 1rem;
    padding: 2rem;
    font-weight: bold;
    font-size: medium;
}

.heading{
    font-weight: bold;
    font-size: 1.5rem;
}

.non-bullet{
    list-style: none;
    text-align: right;
}

.inline{
    text-decoration: none;
    display: inline;
    padding: 0.5rem 1rem;
}

.link{
    text-decoration: none;
    color: white;
}

/**Header**/
 .header-image{
    max-width: 400px;
    display: block;
    padding-top: 2rem;
    margin: auto;
}
.header-heading{
    text-align: center;
    color: var(--grey-color);
    padding: auto;
}
.highlight{
    color: var(--primary-color);
}