@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
:root{
    --primary-color: #1e40af;
}
body{
    font-family: 'Mulish', sans-serif;
}

/**Navigation**/

.navigation{
    background-color: #1e40af;
    color: white;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size: medium;
}

.heading{
    font-weight: bold;
    font-size: 1.5rem;
}

.non-bullet{
    list-style: none;
    text-align: right;
}

.inline{
    text-decoration: none;
    display: inline;
    padding: 0.5rem 1rem;
}

.navigation .link-active{
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: white;
}

